.preview-button { 
    background-color: rgb(132, 180, 224);
    color: black; 
    border-radius: 25px;
    margin-right: 20px;
    padding: 2px;
    &:hover { 
        background-color: rgb(85, 85, 231);
        color: white; 
        cursor: pointer;
        transition: .2s ease-in-out;
    }
}