@import "../../../colors";

.slider-container-wrapper { 
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    background-color: $rapportBackgroundTwo;
    .slider-container-rapporten { 
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-left: 110px;
    }
    .slidercontainer { 
        display: flex;
        flex-direction: column;
        padding-right: 30px;
    }
}