@import "../../../colors"; 

.snappet-scores { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    table {
        display: flex;
        width: 100%;
        margin: 10px 40px;
        justify-content: space-evenly;
        flex-direction: column;
        td { 
            width: 400px;
            margin-top: 5px;
            padding: 10px;
            text-align: center;
            .slider-line { 
                margin: 15px auto;
                position: relative; 
                width: 200px; 
                height: 2px;
                border-bottom: 2px solid black;
                .slider-knob { 
                    position: absolute; 
                    top: -13px;
                    left: -8px;
                    color: $mainGreenColor
                }
            }
        }
        th { 
            width: 400px;
            text-align: center;
            padding: 20px;
            background-color: $mainBlueColor; 
        }
    }
}

    .snappet-scores { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        table {
            display: flex;
            width: 90%;
            margin-top: 0px auto;
            justify-content: space-evenly;
            flex-direction: column;
            td { 
                width: 400px;
                padding: 10px;
                text-align: center;
                .slider-line { 
                    margin: 15px auto;
                    position: relative; 
                    width: 200px; 
                    height: 2px;
                    border-bottom: 2px solid black;
                    .slider-knob { 
                        position: absolute; 
                        width: 6px;
                        height: 18px;
                        top: -13px;
                        left: -6px;
                        background-color: $mainGreenColor;
                        .slider-value { 
                            position: absolute; 
                            left: -24px;
                            color: black;
                            font-size: 10px;
                        }
                    }
                }
            }
            th { 
                min-width: 250px;
                text-align: center;
                padding: 20px;
                background-color: $mainBlueColor; 
            }
        }
    }