.dashboard-main-wrapper { 
    width: 100%; 
    min-height: calc(100vh - 120px);
    height: 100%;
    background-image: url("../../media/images/mainDashBottom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    h1 { 
        text-align: center;
    }
    .rapport-main-info { 
        display: flex;
    }
}