$mainGreenColor: #9cc52c; 
$mainGreenHoverColor: #cce97b; 

$mainGrayBoxColor: #ebfdb9; 

$mainStudentColor: #9cc52c;
$mainStudentGroupColor: rgb(233, 231, 111); 

@mixin border($px, $type, $color) { 
     border: $px $type $color; 
}

